*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1{
    background-color: rgb(47, 42, 42);
    color: white;
    padding: 1rem;
}

.choice{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choice:hover{
    cursor: pointer;
    background-color: black;
}
img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    align-items:center;
    justify-content:center;
    gap: 5rem;
    margin-top:5rem;
}

.score-card{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score{
    margin: 0 4rem;
    font-size: 2rem;
    padding: 1rem;
    
}
.msg-container{
    margin-top: 2rem;
    font-size: 2rem;
}
#msg{
    background-color: black;
    color: white;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}